annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
blinker==1.9.0
click==8.3.1
colorama==0.4.6
distlib==0.4.0
Django==6.0.3
django-cors-headers==4.9.0
django-filter==25.2
django-rest-knox==5.0.4
djangorestframework==3.17.1
drf-yasg==1.21.15
fastapi==0.135.2
filelock==3.25.2
Flask==3.1.3
flask-cors==6.0.2
gunicorn==25.3.0
h11==0.16.0
idna==3.11
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mysqlclient==2.2.8
packaging==26.0
pillow==12.2.0
platformdirs==4.9.4
psycopg2-binary==2.9.12
pydantic==2.12.5
pydantic_core==2.41.5
PyMySQL==1.1.2
python-discovery==1.2.0
python-dotenv==1.2.2
pytz==2026.1.post1
PyYAML==6.0.3
sqlparse==0.5.5
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
uvicorn==0.42.0
virtualenv==21.2.0
Werkzeug==3.1.7
whitenoise==6.12.0
